.detail {
    --bg-color: #eeeeee77;
    --font: clamp(0.9rem, 5vw, 1rem);
    --gap-sm: 1rem;
    --gap-lg: 2.5rem;
    --min-height-dl: 1.25rem;
    --line-height-text: 1.4rem; 
}

.detail {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    gap: var(--gap-sm);

    &__popis {
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(1.25rem, 1fr));
        grid-template-columns: auto 1fr;
        gap: 0.2rem 1rem;

        &__definice {
            font-weight: bold;
            font-size: var(--font);
            min-height: var(--min-height-dl);
        }

        &__data {
            margin: 0;
            font-size: var(--font);
            min-height: var(--min-height-dl);
        }
    }
    
    &__text {
        font-size: var(--font);
        line-height: var(--line-height-text);
    }

    &__autor {
        &__odkaz {
            text-decoration: none;
        }

        &__jmeno {
            font-style: italic;
        }    
    }

    &__vedlejsi__plakat img {
        background-color: var(--bg-color);
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 800px) {
    .detail {
        grid-template-columns: 1fr 15rem;
        gap: var(--gap-lg);
    }
}
