.hlavicka {
	--min-height-sm: 3rem;
	--min-height-md: 4rem;
	--min-height-lg: 4.5rem;
}

.hlavicka {
	background-color: $hlavni-barva;
	display: flex;
	min-height: var(--min-height-sm);

	&__obsah {
		padding: 1rem 1.5rem;
		width: 100%;
		max-width: calc($sirka-obsahu - (2 * $mezera-od-okraju-horizontalni));
		margin: auto;
	}

	&__logo {
		display: inline-flex;
		margin: auto;
	}
}

@media screen and (min-width: 530px) {
	.hlavicka {
		min-height: var(--min-height-md);
	}
}

@media screen and (min-width: 800px) {
	.hlavicka {
		min-height: var(--min-height-lg);
	}
}