.nadpis {
    &--hlavni {
        font-size: 1.6rem;
        margin-top: 0;  
    }

    &--vedlejsi {
        font-size: 1.3rem;
        margin-top: 1.8rem;
        margin-bottom: 1.1rem;
    }

    &--paticka {
        font-size: 1.1rem;
        margin: 0 0 0.5rem;
    }
}


