.paticka {
    --bg-color: #EEEEEE;
    --odkaz-color: #212F3D;
    --gap: 1rem;
    --line-height: 1.5rem;
}

.paticka {
    background-color: var(--bg-color);
    margin: auto;
   
    &__obsah {
        display: grid;
        grid-template-rows: repeat(2, auto);
        gap: var(--gap);
        max-width: $sirka-obsahu;
        margin: auto;
        padding: $mezera-od-okraju-vertikalni $mezera-od-okraju-horizontalni;
        line-height: var(--line-height);
    }  

    &__sekce {
        display: flex;
        flex-direction: column;
    }

    &__odkaz {
        color: var(--odkaz-color);
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 530px) {
    .paticka {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    
        &__obsah {
            grid-template-columns: repeat(2, 1fr);
        }   
    }
}

@media screen and (min-width: 800px) {
    .paticka {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;

        &__obsah {
            grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        } 
    }
}