.paticka {
    background-color: #EEEEEE;
    margin: auto;
   
    &__obsah {
        display: grid;
        grid-template-rows: repeat(2, auto);
        gap: 1rem;
        max-width: $sirka-obsahu;
        margin: auto;
        padding: 1.5rem 2rem;
        line-height: 1.5rem;
    }  

    &__sekce {
        display: flex;
        flex-direction: column;
    }

    &__odkaz {
        color: #212F3D;
        text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
    }
}

@media screen and (min-width: 530px) {
    .paticka__obsah {
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media screen and (min-width: 800px) {
    .paticka {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }

    .paticka__obsah {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    } 
}