.seznam__polozka {
    --font-sm: 1.1rem; 
    --font-md: 1rem; 
    --list-style-type: square;
    --padding-top-sm: 0.3rem;
    --padding-bottom-sm: 0.3rem;
    --padding-top-md: 0.2rem;
    --padding-bottom-md: 0.2rem;
}

.seznam {
    padding-left: 0.5rem;
    list-style-type: none;

    &__polozka {
        color: $doplnkova-barva;
        font-size: var(--font-sm);
        padding-top: var(--padding-top-sm);
        padding-bottom: var(--padding-bottom-sm);     
    }

    &__odkaz {
        color: $doplnkova-barva;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &::before {
            content: ' '; 
            list-style-type: var(--list-style-type);
            background-color: $doplnkova-barva;
            width: 0.5rem;
            height: 0.5rem;
            margin-right: 0.6rem;
            margin-bottom: 0.1rem;
            display: inline-block;
        }
    }
}

@media screen and (min-width: 530px) {
    .seznam__polozka {
        font-size: var(--font-md);
        padding-top: var(--padding-top-md);
        padding-bottom: var(--padding-bottom-md);
    }
}

  
