.seznam {
    padding-left: 0.5rem;
    list-style-type: none;

    &__polozka {
        color: $doplnkova-barva;
        font-size: 1.1rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;     
    }

    &__odkaz {
        color: $doplnkova-barva;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &::before {
            content: ' '; 
            list-style-type: square;
            background-color: $doplnkova-barva;
            width: 0.5rem;
            height: 0.5rem;
            margin-right: 0.6rem;
            margin-bottom: 0.1rem;
            display: inline-block;
        }
    }
}

@media screen and (min-width: 530px) {
    .seznam__polozka {
        font-size: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

  
