{% set podobneFilmy = film.souvisejici %}
{% if podobneFilmy | length > 0 %}
    <h3 class="nadpis nadpis--vedlejsi">Související filmy</h3>
    <ul class="seznam">
        {% for film in podobneFilmy %}
        <li class="seznam__polozka">
            <a class="seznam__odkaz" href="/film/{{ film.nazev | slug }}/">{{ film.nazev }}</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}

<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 50,
  backgroundColor: '#9c27b0',
  textColor: '#fff'
})</script>