---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: '/film/{{ film.nazev | slug }}/'
---

<div class="kontejner__obsah">
  <div class="detail">
    <main class="detail__hlavni">

      <h2 class="nadpis nadpis--hlavni">{{ film.nazev }}</h2>
      {% include "distribucni.njk" %}
      
      <h3 class="nadpis nadpis--vedlejsi">Obsah</h3>
      <details open>
        <summary></summary>

        <p class="detail__text">{{ film.obsah.text }}
          {% if film.obsah.autor.odkaz %}
            (<a class="detail__autor__odkaz" href="{{ film.obsah.autor.odkaz }}">{{ film.obsah.autor.jmeno }}</a>)
          {% else %}
            <span class="detail__autor__jmeno">({{film.obsah.autor.jmeno}})</span>
          {% endif %}
        </p>
      </details>

    </main>
  
    <aside class="detail__vedlejsi">

      <div class="detail__vedlejsi__plakat">
        <img src="{{ film.plakat.url }}" alt="plakat" width="{{ film.plakat.sirka }}" height="{{ film.plakat.vyska }}">
      </div>
  
      <h3 class="nadpis nadpis--vedlejsi">Hodnocení</h3>
      <div class="hvezdy hvezdy--skore-{{ film.hodnoceni }}"></div>
  
      {% include "seznam-podobne.njk" %}

    </aside>
  </div>
</div>

  