---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: '/film/{{ film.nazev | slug }}/'
---

<div class="detail">

  <main class="detail__hlavni">

    <h2 class="nadpis-hlavni">{{ film.nazev }}</h2>
  
    <dl>
      <dt>Rok:</dt>
      <dd>{{ film.rok }}</dd>
  
      <dt>Země:</dt>
      <dd>{{ film.zeme | join(', ') }}</dd>
  
      <dt>Žánr:</dt>
      <dd>{{ film.zanr | join(' / ') }}</dd>
  
      {% set filmDelka =  [film.delka, " ", "minut"] %}
      <dt>Délka:</dt>
      <dd>{{ filmDelka | join }}</dd>
    </dl>
  
    <h3 class="nadpis-vedlejsi">Obsah</h3>

    <details open>
      <summary></summary>
      <p>{{ film.obsah.text }} (<a href="{{ film.obsah.autor.odkaz }}">{{ film.obsah.autor.odkaz }}</a>)</p>
    </details>

  </main>
  
  <aside class="detail__vedlejsi">

    <img src="{{ film.plakat.url }}" alt="plakat" width="{{ film.plakat.sirka }}" height="{{ film.plakat.vyska }}">
  
    <h3 class="nadpis-vedlejsi">Hodnocení</h3>
    <div class="hvezdy hvezdy--skore-{{ hodnoceni }}"></div>
  
    <h3 class="nadpis-vedlejsi">Související filmy</h3>
  
    {% set podobneFilmy = film.souvisejici %}
      <ul class="seznam">
        {% for film in podobneFilmy %}
          <li class="seznam__polozka">
            <a class="seznam__odkaz" href="/film/{{ film.nazev | slug }}/">{{ film.nazev }}</a>
          </li>
        {% endfor %}
      </ul>

  </aside>
</div>

  