---
layout: zakladni
---

<div class="kontejner__obsah">
    <main>
        <h2 class="nadpis nadpis--hlavni">Všechny</h2>
        {% include "seznam.njk" %}
    </main>
</div>

<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 50,
  backgroundColor: '#9c27b0',
  textColor: '#fff'
})</script>



