---
layout: zakladni
---

<div class="kontejner__obsah">
    <main>
        <h2 class="nadpis nadpis--hlavni">Všechny</h2>
        <ul class="seznam">
            {% for film in filmy %}
                <li class="seznam__polozka"><a class="seznam__odkaz" href="/film/{{ film.nazev | slug }}/">{{ film.nazev }}</a></li>
            {% endfor %}
        </ul>
    </main>
</div>



